@model MarvelCatalog_App.Areas.Admin.Models.CharactersAdminViewModel
@{
    ViewBag.Title = "AddCharacter";
}

<div class="container" *ngFor="let crimeMovie of crimeMovies">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("AddCharacterToDb", "CharactersAdministration", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { id = "Name", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { id = "Description", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Image)
                        @Html.TextBoxFor(m => m.Image, new { id = "Image", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AbilitiesDesctiption)
                        @Html.TextBoxFor(m => m.AbilitiesDesctiption, new { id = "AbilitiesDesctiption", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Powers)
                        @Html.TextBoxFor(m => m.Powers, new { id = "Powers", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Origin)
                        @Html.TextAreaFor(m => m.Origin, new { id = "Powers", @class = "form-control" })
                    </div>
                    <br />
                    <div class="text-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-info form-control">Add Character</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>