@model IEnumerable<MarvelCatalog_App.Areas.Admin.Models.CharactersAdminViewModel>
@{
    ViewBag.Title = "GetAllChracters";
}

<div class="container admin-characters-table">
    <table class="table table-striped" style="margin-right: 700px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedOn</th>
                <th>DeletedOn</th>
                <th>isDeleted</th>
                <th>ModifiedOn</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
          @foreach (var c in Model)
          {
            <tr>
                <td>@c.Id</td>
                <td>@c.CreatedOn</td>
                <td>@c.DeletedOn</td>
                <td>@c.isDeleted</td>
                <td>@c.ModifiedOn</td>
                <td>@c.Name</td>
                <td>@c.Image</td>
                <td>@c.Description</td>
                <td>
                   @Html.ActionLink("Edit", "GetCharacterById", "CharactersAdministration", new { id = c.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
          }
        </tbody>
    </table>
</div>

