@model IList<MarvelCatalog_App.Areas.Admin.Models.CharactersAdminViewModel>
@{
    ViewBag.Title = "GetAllChracters";
    var type = "success";
}
@Html.Partial("SearchPartial")

@using (Html.BeginForm("Index", "CharactersAdministration", FormMethod.Post, new { @class  = "form" }))
{
<table class="table table-bordered table-striped table-responsive" style="margin-right: 400px;">
        <tr>
            <th>Id</th>
            <th>CreatedOn</th>
            <th>DeletedOn</th>
            <th>isDeleted</th>
            <th>ModifiedOn</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
        @foreach (var c in Model)
        {
            if (c.isDeleted)
            {
                type = "danger";
            }
            else
            {
                type = "success";
            }

          <tr class="@type">            
              <td>@c.Id</td>
              <td>@c.CreatedOn</td>
              <td>@c.DeletedOn</td>
              <td>@c.isDeleted</td>
              <td>@c.ModifiedOn</td>
              <td>@c.Name</td>
              <td>@c.Image</td>
              <td>
                  @Html.ActionLink("Edit", "GetCharacterById", "CharactersAdministration", new { id = c.Id }, new { @class = "btn btn-primary" })
              </td>
          </tr>
        }
</table>
<table class="table table-bordered table-striped table-responsive">
    <tr>
        @for (int i = 1; i <= Model[0].PageCount; i++)
                {
            <td>
                @if (i != Model[0].CurrentPageIndex)
                {
                    <a class="page">@i</a>
                }
                else
                {
                    <span>@i</span>
                }
            </td>
        }
    </tr>
</table>
<input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $('.page').on('click', function (event) {
        console.log(event.target.text);
        $('#hfCurrentPageIndex').val(event.target.text);
        $('.form').submit();
    });
</script>

