@model MarvelCatalog_App.Areas.Admin.Models.ComicsAdminViewModel
@{
    ViewBag.Title = "AddComicsPage";
}

<div class="container" *ngFor="let crimeMovie of crimeMovies">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("AddComicsToDb", "ComicsAdministration", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { id = "Title", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new { id = "Description", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Image)
                    @Html.TextBoxFor(m => m.Image, new { id = "Image", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price)
                    @Html.TextBoxFor(m => m.Price, new { id = "Price", @class = "form-control" })
                </div>
                <br />
                <div class="text-center">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info form-control">Add Character</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>

